# === GLOBAL ===
.DS_Store
.env
.env.*.local
*.log
logs/
*.postman_collection.json
.vscode/
coverage/
.cache/
start-all.sh
start be_fe.sh


# === BACKEND ===
backend/node_modules/
backend/logs/
backend/.env
backend/.env.*.local
backend/dist/
backend/build/
backend/*.log

# === FRONTEND ===
frontend/node_modules/
frontend/.env
frontend/.env.*.local
frontend/.next/
frontend/out/
frontend/dist/
frontend/build/
frontend/.turbo/
frontend/*.log
